- const getInputName = (property) => `data[${property}]`
- const getInputId = (property) => `data_${property}`

mixin formFor(entity = null)
  form&attributes(attributes).form-signin
    block


mixin input(entity, propertyName, errors = {})
  - propertyErrors = _.get(errors, propertyName)
  - classLine = 'form-control' + (_.isEmpty(propertyErrors) ? '' : ' is-invalid')
  - inputId = getInputId(propertyName)
  .form-floating
    input(
      id= inputId
      name=getInputName(propertyName)
      class=classLine
      value=_.get(entity, propertyName, '')
      placeholder
    )&attributes(attributes).mb-3
    if !_.isEmpty(propertyErrors)
      .invalid-feedback= propertyErrors.map(({ message }) => message).join('. ')
    label(
      for= inputId
    )= propertyName

mixin submit(form = null)
  input(class='btn btn-primary' type='submit')&attributes(attributes)

mixin buttonTo(action, method)
  form(action=action, method="post")
    input(name="_method" type="hidden" value=method)
    input(type='submit')&attributes(attributes)

mixin textArea
  .mb-3
  label(for='data_description') Описание
  textarea#data_description.form-control(name='data[description]' rows='3')

// Проблема агрегации данных связяна с полем name!!!
mixin divStatus(data, name, propertyName)
  .mb-3
  label(for='data_statusId')=name
  select#data_statusId.form-control(name='data[statusId]')
    each el, i in data
      option(value=el.id)= el[propertyName]

mixin divExecutor(data, name, propertyName)
  .mb-3
  label(for='data_executorId')=name
  select#data_statusId.form-control(name='data[executorId]')
    each el, i in data
      option(value=el.id)= el[propertyName]